.breeds-wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: $margin-lv4;
}
.breed-card{
    position: relative;
    min-height: 1px;
    padding: 0px $padding-lv2;
    width: 50%;
    margin-bottom: $margin-lv4;
}
.breed-card-link{
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0 0 4px 0px $box-shadow-color-lightgrey;
}
.breed-image-wrapper{
    line-height: 1;
}
.breed-image{
    display: block;
    width: 100%;
    height: 250px;
}
.breed-card-description-wrapper{
    padding: $padding-lv2 $padding-lv3 $padding-lv2;
}
.breed-card-breed-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: $margin-lv1;
}
.breeds-load-more-button-wrapper{
    display: block;
    text-align: center;
}
.breeds-load-more-button{
    padding: $padding-lv2 $padding-lv2 * 3;
    font-size: $font-size-l;
    font-weight: $font-weight-semi-bold;
    background-color: $color-secondary;
    color: $color-primary-darken;
    margin: 0 0 $margin-lv3;
    border: 0.15rem solid $color-primary;
    border-radius: $border-radius;
}
.breeds-load-more-button:hover{
    background-color: $color-primary;
    color: $color-secondary;
}

@media (min-width: 520px) and (max-width: 768px){
    .breed-card{
        width: 33.333%;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .breed-card{
        width: 25%;
    }
}
@media (min-width: 1200px){
    .breed-card{
        width: 20%;
    }
}

img{
    &.lazyload-blur{
        filter: blur(7px) grayscale(0.8);
    }
    &.no-image{
        padding: 0 $padding-lv2;
    }
}

.collapse{
    height: 0;
    overflow: hidden;
}