.header{
    @extend .row;
    margin-bottom: $margin-lv4;
    box-shadow: 0 0 4px 1px $box-shadow-color-lightgrey;
}
.header-text{
    font-size: $font-size-xxxl * 1.25;
    padding: 0;
    color: $color-primary;
    letter-spacing: 5px;
    font-weight: $font-weight-semi-bold;
    text-shadow: 0px 4px 2px #ccc;
}