$margin-lv1: 5px;
$margin-lv2: $margin-lv1 * 2;
$margin-lv3: $margin-lv1 * 3;
$margin-lv4: $margin-lv1 * 4;

$padding-lv1: 5px;
$padding-lv2: $padding-lv1 * 2;
$padding-lv3: $padding-lv1 * 3;
$padding-lv4: $padding-lv1 * 4;

// font size variables
$font-size-xxs: 0.75rem;
$font-size-xs: 0.87rem;
$font-size-s: 0.93rem;
$font-size-m: 1rem;
$font-size-l: 1.067rem;
$font-size-xl: 1.2rem;
$font-size-xxl: 2rem;
$font-size-xxxl: 2.5rem;

// font weight variables
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;